{% extends 'admin/layout.html.twig' %}
{% block body %}
{{ form_start(form) }}
{% embed 'decorator/_card.html.twig' %}
    {% block header %}
    {{ 'article.edit'|trans( {'%entity%' : entity.title} )|raw }}
    {% endblock %}

    {% block body %}
    {{ form(form) }}
    {% endblock %}

    {% block footer %}
        <button type="submit" class="btn btn-warning">Modifier</button>
        <a class="btn btn-secondary" href="{{ path('app_admin_article_index') }}" role="button">Annuler</a>
    {% endblock %}
 {% endembed %}
{{ form_end(form) }}
{% endblock %}